[Desktop Entry]
Version=1.0
Type=Link
Name=.travis.yml
Comment=
Icon=gnome-fs-bookmark
URL=https://github.com/MWJMerkx/PCfB-github/blob/master/.travis.yml
